In [4]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder 
import pickle

In [5]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
## Preprocess the data
# Drop irrelevate columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [7]:
### Encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [8]:
## Onehot encode "Geography"
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geo=OneHotEncoder()
geo_encoder=one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [9]:
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [11]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

## Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scalar=StandardScaler()
X_train=scalar.fit_transform(X_train)
X_test=scalar.transform(X_test)

### ANN Regression Problem Statement

In [12]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)# Output layer for regression
])

/Users/shindesudeep/Desktop/GenAI_RLHF/ANN_Classification_Project/ANN_env/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [15]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir='regressionlogs/fit'
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [18]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [19]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 100336.4609 - mae: 100336.4609 - val_loss: 98530.2109 - val_mae: 98530.2109
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 648us/step - loss: 98326.1953 - mae: 98326.1953 - val_loss: 97136.2422 - val_mae: 97136.2422
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step - loss: 97691.0547 - mae: 97691.0547 - val_loss: 93583.8828 - val_mae: 93583.8828
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step - loss: 94249.8984 - mae: 94249.8984 - val_loss: 87603.5312 - val_mae: 87603.5312
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - loss: 87998.4922 - mae: 87998.4922 - val_loss: 79801.0625 - val_mae: 79801.0625
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - loss: 79813.9609 - mae: 79813.9609 - val_loss: 71359.5547 - val_mae: 71359.5547
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - loss: 69854.6484 - mae: 69854.6484 - val_loss: 63724.0781 - val_mae: 63724.0781
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 63007.3398 - mae: 63007.3398 - val_loss: 57827.1953 - val_mae: 57827.1953
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - loss: 57387.9570 - mae: 57387.9570 - val_loss: 54034.7305 - val_mae: 54034.7305
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - loss: 52980.3359 - mae: 52980.3359 - val_loss: 52182.5586 - val_mae: 52182.5586
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - loss: 52092.1406 - mae: 52092.1406 - val_loss: 51446.7656 - val_mae: 51446.7656
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 50622.8672 - mae: 50622.8672 - val_loss: 51126.0156 - val_mae: 51126.0156
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step - loss: 50375.5000 - mae: 50375.5000 - val_loss: 50964.3594 - val_mae: 50964.3594
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 758us/step - loss: 50317.7539 - mae: 50317.7539 - val_loss: 50879.1484 - val_mae: 50879.1484
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - loss: 50057.4023 - mae: 50057.4023 - val_loss: 50813.4375 - val_mae: 50813.4375
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step - loss: 50182.9219 - mae: 50182.9219 - val_loss: 50764.0586 - val_mae: 50764.0586
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - loss: 49680.6875 - mae: 49680.6875 - val_loss: 50724.7617 - val_mae: 50724.7617
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - loss: 49637.9492 - mae: 49637.9492 - val_loss: 50688.1016 - val_mae: 50688.1016
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 690us/step - loss: 49803.1367 - mae: 49803.1367 - val_loss: 50654.5195 - val_mae: 50654.5195
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 756us/step - loss: 49634.5469 - mae: 49634.5469 - val_loss: 50628.9219 - val_mae: 50628.9219
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 667us/step - loss: 49996.6602 - mae: 49996.6602 - val_loss: 50602.8906 - val_mae: 50602.8906
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - loss: 49951.0391 - mae: 49951.0391 - val_loss: 50582.8945 - val_mae: 50582.8945
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - loss: 49713.0156 - mae: 49713.0156 - val_loss: 50559.8516 - val_mae: 50559.8516
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - loss: 49679.6641 - mae: 49679.6641 - val_loss: 50538.2070 - val_mae: 50538.2070
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - loss: 49863.6602 - mae: 49863.6602 - val_loss: 50533.5195 - val_mae: 50533.5195
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 705us/step - loss: 49490.0898 - mae: 49490.0898 - val_loss: 50506.1602 - val_mae: 50506.1602
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - loss: 49808.0547 - mae: 49808.0547 - val_loss: 50499.3516 - val_mae: 50499.3516
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - loss: 49935.7148 - mae: 49935.7148 - val_loss: 50494.7266 - val_mae: 50494.7266
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 49844.1719 - mae: 49844.1719 - val_loss: 50485.9922 - val_mae: 50485.9922
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - loss: 49553.5703 - mae: 49553.5703 - val_loss: 50471.9492 - val_mae: 50471.9492
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - loss: 49878.6094 - mae: 49878.6094 - val_loss: 50467.6445 - val_mae: 50467.6445
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - loss: 50376.1641 - mae: 50376.1641 - val_loss: 50473.9766 - val_mae: 50473.9766
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 624us/step - loss: 49663.3281 - mae: 49663.3281 - val_loss: 50461.2812 - val_mae: 50461.2812
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - loss: 49442.8633 - mae: 49442.8633 - val_loss: 50462.4883 - val_mae: 50462.4883
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - loss: 49608.3867 - mae: 49608.3867 - val_loss: 50447.3789 - val_mae: 50447.3789
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - loss: 50070.1328 - mae: 50070.1328 - val_loss: 50455.4805 - val_mae: 50455.4805
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 50069.8711 - mae: 50069.8711 - val_loss: 50456.3672 - val_mae: 50456.3672
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - loss: 49661.4141 - mae: 49661.4141 - val_loss: 50445.2695 - val_mae: 50445.2695
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - loss: 49578.4336 - mae: 49578.4336 - val_loss: 50436.6953 - val_mae: 50436.6953
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - loss: 49551.3242 - mae: 49551.3242 - val_loss: 50431.7148 - val_mae: 50431.7148
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - loss: 49731.8125 - mae: 49731.8125 - val_loss: 50424.2227 - val_mae: 50424.2227
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 633us/step - loss: 49365.8281 - mae: 49365.8281 - val_loss: 50419.9414 - val_mae: 50419.9414
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - loss: 49372.9688 - mae: 49372.9688 - val_loss: 50414.8594 - val_mae: 50414.8594
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - loss: 49934.6562 - mae: 49934.6562 - val_loss: 50417.9062 - val_mae: 50417.9062
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - loss: 49938.5508 - mae: 49938.5508 - val_loss: 50407.5117 - val_mae: 50407.5117
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 49995.9688 - mae: 49995.9688 - val_loss: 50415.5000 - val_mae: 50415.5000
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - loss: 49316.5234 - mae: 49316.5234 - val_loss: 50405.1172 - val_mae: 50405.1172
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 49290.2773 - mae: 49290.2773 - val_loss: 50408.4883 - val_mae: 50408.4883
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - loss: 49298.8359 - mae: 49298.8359 - val_loss: 50397.8398 - val_mae: 50397.8398
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - loss: 49319.4258 - mae: 49319.4258 - val_loss: 50387.4414 - val_mae: 50387.4414
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - loss: 50200.6484 - mae: 50200.6484 - val_loss: 50389.6680 - val_mae: 50389.6680
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 673us/step - loss: 49659.1484 - mae: 49659.1484 - val_loss: 50393.3555 - val_mae: 50393.3555
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - loss: 49464.2578 - mae: 49464.2578 - val_loss: 50408.3242 - val_mae: 50408.3242
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - loss: 49518.6250 - mae: 49518.6250 - val_loss: 50405.0156 - val_mae: 50405.0156
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 49927.3672 - mae: 49927.3672 - val_loss: 50413.6875 - val_mae: 50413.6875
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - loss: 48624.7227 - mae: 48624.7227 - val_loss: 50406.4609 - val_mae: 50406.4609
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 673us/step - loss: 49629.0078 - mae: 49629.0078 - val_loss: 50399.6250 - val_mae: 50399.6250
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - loss: 49166.9062 - mae: 49166.9062 - val_loss: 50397.2539 - val_mae: 50397.2539
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 634us/step - loss: 49520.5117 - mae: 49520.5117 - val_loss: 50403.4922 - val_mae: 50403.4922
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - loss: 49254.9492 - mae: 49254.9492 - val_loss: 50383.2227 - val_mae: 50383.2227
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - loss: 49147.6367 - mae: 49147.6367 - val_loss: 50404.9727 - val_mae: 50404.9727
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - loss: 49582.9258 - mae: 49582.9258 - val_loss: 50398.6836 - val_mae: 50398.6836
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - loss: 49410.5195 - mae: 49410.5195 - val_loss: 50396.1484 - val_mae: 50396.1484
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 48703.8633 - mae: 48703.8633 - val_loss: 50395.8086 - val_mae: 50395.8086
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - loss: 49137.6328 - mae: 49137.6328 - val_loss: 50384.6367 - val_mae: 50384.6367
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 49314.4922 - mae: 49314.4922 - val_loss: 50389.1914 - val_mae: 50389.1914
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - loss: 49552.5352 - mae: 49552.5352 - val_loss: 50392.3711 - val_mae: 50392.3711
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - loss: 49388.2461 - mae: 49388.2461 - val_loss: 50398.8398 - val_mae: 50398.8398
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - loss: 49111.6094 - mae: 49111.6094 - val_loss: 50386.0781 - val_mae: 50386.0781
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 49628.0234 - mae: 49628.0234 - val_loss: 50393.0742 - val_mae: 50393.0742

In [25]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [26]:
%tensorboard --logdir regressionlogs/fit

In [28]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - loss: 51164.2812 - mae: 51164.2812
Test MAE:50383.22265625

In [29]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.