In [4]:
import pandas as pd
messages=pd.read_csv('cleaned_span.csv')

In [6]:
messages

     labels                                            message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shindesudeep/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
wordnetlemmatize=WordNetLemmatizer()

In [22]:
corpus=[]
for i in range(0,len(messages)):
    review=re.sub('[^a-zA-Z]',' ',messages['message'][i])
    review=review.lower()
    review=review.split()
    review=[wordnetlemmatize.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_features=100)
X=tfidf.fit_transform(corpus).toarray()

In [28]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## N-Grams

In [35]:
tfidf=TfidfVectorizer(max_features=100,ngram_range=(2,2))
X=tfidf.fit_transform(corpus).toarray()

In [39]:
tfidf.vocabulary_

{'free entry': 31,
 'claim call': 15,
 'call claim': 3,
 'free call': 30,
 'chance win': 14,
 'txt word': 88,
 'let know': 51,
 'please call': 65,
 'lt gt': 55,
 'want go': 97,
 'like lt': 52,
 'sorry call': 79,
 'call later': 8,
 'ur awarded': 90,
 'hi hi': 44,
 'call customer': 4,
 'customer service': 22,
 'cash prize': 13,
 'trying contact': 85,
 'draw show': 27,
 'show prize': 77,
 'prize guaranteed': 71,
 'guaranteed call': 40,
 'valid hr': 95,
 'selected receive': 74,
 'private account': 69,
 'account statement': 0,
 'statement show': 80,
 'call identifier': 5,
 'identifier code': 47,
 'code expires': 19,
 'urgent mobile': 94,
 'call landline': 7,
 'wat time': 98,
 'ur mob': 93,
 'gud ni': 41,
 'new year': 60,
 'send stop': 76,
 'co uk': 18,
 'nice day': 61,
 'lt decimal': 54,
 'decimal gt': 24,
 'txt nokia': 86,
 'good morning': 35,
 'ur friend': 92,
 'good night': 36,
 'reply call': 73,
 'po box': 67,
 'last night': 50,
 'camera phone': 12,
 'pick phone': 64,
 'pls send': 66,
 'send message': 75,
 'great day': 37,
 'ur cash': 91,
 'suite land': 81,
 'land row': 49,
 'good afternoon': 34,
 'take care': 82,
 'double min': 26,
 'call mobileupd': 9,
 'call optout': 10,
 'gt min': 39,
 'txt stop': 87,
 'dating service': 23,
 'pobox wq': 68,
 'mobile number': 56,
 'call land': 6,
 'land line': 48,
 'line claim': 53,
 'claim valid': 17,
 'gt lt': 38,
 'hope good': 46,
 'free text': 32,
 'holiday cash': 45,
 'prize claim': 70,
 'nd attempt': 58,
 'attempt contact': 1,
 'claim ur': 16,
 'show un': 78,
 'un redeemed': 89,
 'redeemed point': 72,
 'happy birthday': 42,
 'ok lor': 63,
 'want come': 96,
 'every week': 28,
 'come home': 21,
 'new nokia': 59,
 'happy new': 43,
 'every wk': 29,
 'national rate': 57,
 'nokia tone': 62,
 'tone ur': 84,
 'week txt': 99,
 'tell ur': 83,
 'gift voucher': 33,
 'await collection': 2,
 'dont know': 25,
 'come back': 20,
 'call per': 11}

In [43]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])